In [1]:
import pandas as pd
from sqlalchemy import create_engine

engine=create_engine('postgresql+psycopg2://ipichilen:ima543_2023_2@200.13.6.14:5432/ima543')

sql = '''SELECT * FROM _2023_2.restaurantes WHERE mes='febrero' OR mes='agosto';'''
df = pd.read_sql(sql,engine)

In [2]:
df

,mes,cuerpo,rating_general
0,agosto,Fuimos 25 y Pedro Aguilera nos atendió extraor...,5
1,agosto,Me lo habían recomendado y leí los contrarios ...,5
2,agosto,"Excelente bar, DJ y en especial la atención de...",5
3,agosto,Llegamos por recomendación de un amigo y nos l...,5
4,agosto,Llegamos al lugar por tripadvisor a celebrar n...,5
...,...,...,...
63159,febrero,"Muy buena la ensalada de camarones, los sandwi...",4
63160,agosto,"La comida no es tan buena, pero no es mala tam...",2
63161,febrero,tuvimos dos veces una cena en este restaurante...,4
63162,febrero,Los platos son grandes y los precios son razon...,4
63163,febrero,Comimos allí 3 veces en natales. Gran pollo. E...,4

In [3]:
#solo voy a tomar en cuenta el cuerpo que serian los comentarios y rating_general que serian los sentimientos asociados a la valoración  
df1 = df[['cuerpo', 'rating_general']]  
#se tiene que tomar en cuenta que los comentarios hay que limpiarlo previamente 
df1['cuerpo'] = df1['cuerpo'].str.lower()
df1['cuerpo'] = df1['cuerpo'].str.replace('[^a-zA-Z\s]', '', regex=True)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_13372\2756742182.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['cuerpo'] = df1['cuerpo'].str.lower()
C:\Users\Usuario\AppData\Local\Temp\ipykernel_13372\2756742182.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['cuerpo'] = df1['cuerpo'].str.replace('[^a-zA-Z\s]', '', regex=True)

In [4]:
df1

                                                  cuerpo  rating_general
0      fuimos  y pedro aguilera nos atendi extraordin...               5
1      me lo haban recomendado y le los contrarios en...               5
2      excelente bar dj y en especial la atencin de p...               5
3      llegamos por recomendacin de un amigo y nos ll...               5
4      llegamos al lugar por tripadvisor a celebrar n...               5
...                                                  ...             ...
63159  muy buena la ensalada de camarones los sandwic...               4
63160  la comida no es tan buena pero no es mala tamp...               2
63161  tuvimos dos veces una cena en este restaurante...               4
63162  los platos son grandes y los precios son razon...               4
63163  comimos all  veces en natales gran pollo el an...               4

[63164 rows x 2 columns]

In [5]:
#El siguiente paso es revisar que hay que tener la misma cantidad de elementos por clase
value_counts = df['rating_general'].value_counts()
print(value_counts)
#La minima clase que es 1 contiene 2746 comentarios por lo que cada clase va a tener 2746 comentarios 
minimo = float('inf')
for x in range(1, 6):
    c=df1.loc[df1['rating_general']==x]
    num_elementos=c.shape[0]  
    minimo=min(minimo, num_elementos)  

print('N° minimo de elemntos: ',minimo)

5    30801
4    18964
3     7629
2     3024
1     2746
Name: rating_general, dtype: int64
N° minimo de elemntos:  2746

In [6]:
c1= df1.loc[df1['rating_general'] == 1].sample(n=minimo, random_state=42)  
c2= df1.loc[df1['rating_general'] == 2].sample(n=minimo, random_state=42)  
c3= df1.loc[df1['rating_general'] == 3].sample(n=minimo, random_state=42)  
c4= df1.loc[df1['rating_general'] == 4].sample(n=minimo, random_state=42)  
c5= df1.loc[df1['rating_general'] == 5].sample(n=minimo, random_state=42)  
#ya seleccione de manera aleatoria la cantidad de datos mencionadas y despues la uni a un df 
df2=pd.concat([c1, c2, c3, c4, c5], ignore_index=True) 
df= df2.sample(frac=1, random_state=42).reset_index(drop=True)

In [7]:
df

                                                  cuerpo  rating_general
0      fuimos un lunes por la noche y no tenemos rese...               5
1      excelente el lugar y la atencin los mozos muy ...               5
2      no salgo a comer para que me sirvan comida rec...               1
3      el lugar es bastante sencillo austero y la com...               2
4      la verdad nada de lo que haba ah era sabroso m...               1
...                                                  ...             ...
13725  en contadas ocasiones he tenido la mala fortun...               2
13726  muy buena atencin  el filete mafioso y las mac...               5
13727  es un lugar muy bonito mucha onda debido a gra...               2
13728  el pintoresco valle del maipo y la imaginativa...               1
13729  en general voy por los ceviches siempre delici...               3

[13730 rows x 2 columns]

In [8]:
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences 
from keras.utils import to_categorical 

max_words =10000
X1=df['cuerpo']
tokenizer = Tokenizer(num_words=max_words)
tokenizer.fit_on_texts(X1)
X_sequences = tokenizer.texts_to_sequences(X1)
X = pad_sequences(X_sequences, maxlen=100)
y1=df['rating_general']
y=to_categorical(y1, num_classes=6) 
vocabulario = tokenizer.word_index

In [9]:
df

                                                  cuerpo  rating_general
0      fuimos un lunes por la noche y no tenemos rese...               5
1      excelente el lugar y la atencin los mozos muy ...               5
2      no salgo a comer para que me sirvan comida rec...               1
3      el lugar es bastante sencillo austero y la com...               2
4      la verdad nada de lo que haba ah era sabroso m...               1
...                                                  ...             ...
13725  en contadas ocasiones he tenido la mala fortun...               2
13726  muy buena atencin  el filete mafioso y las mac...               5
13727  es un lugar muy bonito mucha onda debido a gra...               2
13728  el pintoresco valle del maipo y la imaginativa...               1
13729  en general voy por los ceviches siempre delici...               3

[13730 rows x 2 columns]

### Pregunta 2

In [10]:
import numpy as np  
import matplotlib.pyplot as plt  
from tensorflow.keras import optimizers
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
from keras.models import Sequential
from keras.layers import Embedding, LSTM, GRU, Dense, Activation,SimpleRNN

# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
#modelo 1 
model1=Sequential() 
units1=100
lr=0.001
epochs=10 
batch_size=128

optimizer = optimizers.Adam(learning_rate=lr)

model1 = Sequential()
model1.add(Embedding(input_dim=len(vocabulario)+1, output_dim=100, input_length=X.shape[1]))
model1.add(LSTM(units=units1+1))
model1.add(Dense(6, activation='softmax'))
model1.summary() 

model1.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 100, 100)          3813800

 lstm (LSTM)                 (None, 101)               81608

 dense (Dense)               (None, 6)                 612

=================================================================
Total params: 3896020 (14.86 MB)
Trainable params: 3896020 (14.86 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [12]:
kf = KFold(n_splits=6, shuffle=True, random_state=42)
losses = []
accuracies = []

for train_idx, val_idx in kf.split(X_train, y_train):
    X_train_fold, X_val_fold = X_train[train_idx], X_train[val_idx]
    y_train_fold, y_val_fold = y_train[train_idx], y_train[val_idx]
    
    #entrenamiento
    model1.fit(X_train_fold, y_train_fold, epochs=10, batch_size=32, verbose=0)
    
    loss, accuracy = model1.evaluate(X_val_fold, y_val_fold)
    losses.append(loss)
    accuracies.append(accuracy)

#calcular promedio de perdida y exactitud
mean_loss = sum(losses) / len(losses)
mean_accuracy = sum(accuracies) / len(accuracies)

print("Model 1 - Mean Loss:", mean_loss, "Mean Accuracy:", mean_accuracy)

58/58 [==============================] - 1s 12ms/step - loss: 2.1540 - accuracy: 0.4708
58/58 [==============================] - 1s 16ms/step - loss: 0.6084 - accuracy: 0.8334
58/58 [==============================] - 1s 11ms/step - loss: 0.2455 - accuracy: 0.9181
58/58 [==============================] - 1s 10ms/step - loss: 0.0284 - accuracy: 0.9896
58/58 [==============================] - 1s 11ms/step - loss: 0.0685 - accuracy: 0.9798
58/58 [==============================] - 1s 12ms/step - loss: 0.0111 - accuracy: 0.9951
Model 1 - Mean Loss: 0.5193283039455613 Mean Accuracy: 0.8644615660111109

In [14]:
#modelo 2 
model2=Sequential() 
model2 = Sequential()
model2.add(Embedding(input_dim=len(vocabulario) + 1, output_dim=100, input_length=X.shape[1]))
model2.add(GRU(units=units1 + 1))
model2.add(Dense(6, activation='softmax'))
model2.summary() 

model2.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, 100, 100)          3813800

 gru_1 (GRU)                 (None, 101)               61509

 dense_2 (Dense)             (None, 6)                 612

=================================================================
Total params: 3875921 (14.79 MB)
Trainable params: 3875921 (14.79 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
kf = KFold(n_splits=6, shuffle=True, random_state=42)
losses = []
accuracies = []

for train_idx, val_idx in kf.split(X_train, y_train):
    X_train_fold, X_val_fold = X_train[train_idx], X_train[val_idx]
    y_train_fold, y_val_fold = y_train[train_idx], y_train[val_idx]
    
    #entrenamiento
    model2.fit(X_train_fold, y_train_fold, epochs=10, batch_size=32, verbose=0)
    
    loss, accuracy = model2.evaluate(X_val_fold, y_val_fold)
    losses.append(loss)
    accuracies.append(accuracy)

#calcular promedio de perdida y exactitud
mean_loss = sum(losses) / len(losses)
mean_accuracy = sum(accuracies) / len(accuracies)

print("Model 2 - Mean Loss:", mean_loss, "Mean Accuracy:", mean_accuracy)

58/58 [==============================] - 1s 9ms/step - loss: 2.7574 - accuracy: 0.4620
58/58 [==============================] - 1s 11ms/step - loss: 0.7414 - accuracy: 0.8154
58/58 [==============================] - 1s 9ms/step - loss: 0.1730 - accuracy: 0.9421
58/58 [==============================] - 1s 9ms/step - loss: 0.0333 - accuracy: 0.9918
58/58 [==============================] - 1s 10ms/step - loss: 0.0422 - accuracy: 0.9858
58/58 [==============================] - 1s 10ms/step - loss: 0.0268 - accuracy: 0.9923
Model 2 - Mean Loss: 0.6290200762450695 Mean Accuracy: 0.8649170051018397

In [18]:
from keras.layers import SimpleRNN
#modelo 3 
model3=Sequential() 
model3 = Sequential()
model3.add(Embedding(input_dim=len(vocabulario) + 1, output_dim=100, input_length=X.shape[1]))
model3.add(SimpleRNN(units=units1 + 1))
model3.add(Dense(6, activation='softmax'))
model3.summary() 
model3.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

Model: "sequential_11"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_5 (Embedding)     (None, 100, 100)          3813800

 simple_rnn_1 (SimpleRNN)    (None, 101)               20402

 dense_4 (Dense)             (None, 6)                 612

=================================================================
Total params: 3834814 (14.63 MB)
Trainable params: 3834814 (14.63 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [19]:
kf = KFold(n_splits=6, shuffle=True, random_state=42)
losses = []
accuracies = []

for train_idx, val_idx in kf.split(X_train, y_train):
    X_train_fold, X_val_fold = X_train[train_idx], X_train[val_idx]
    y_train_fold, y_val_fold = y_train[train_idx], y_train[val_idx]
    
    #entrenamiento
    model3.fit(X_train_fold, y_train_fold, epochs=10, batch_size=32, verbose=0)
    
    loss, accuracy = model3.evaluate(X_val_fold, y_val_fold)
    losses.append(loss)
    accuracies.append(accuracy)

#calcular promedio de perdida y exactitud
mean_loss = sum(losses) / len(losses)
mean_accuracy = sum(accuracies) / len(accuracies)

print("Model 2 - Mean Loss:", mean_loss, "Mean Accuracy:", mean_accuracy)

58/58 [==============================] - 0s 4ms/step - loss: 2.6363 - accuracy: 0.3823
58/58 [==============================] - 0s 5ms/step - loss: 1.2590 - accuracy: 0.6761
58/58 [==============================] - 0s 5ms/step - loss: 0.1115 - accuracy: 0.9656
58/58 [==============================] - 0s 5ms/step - loss: 0.0699 - accuracy: 0.9760
58/58 [==============================] - 0s 5ms/step - loss: 0.0671 - accuracy: 0.9765
58/58 [==============================] - 0s 5ms/step - loss: 0.0478 - accuracy: 0.9852
Model 2 - Mean Loss: 0.6986137510587772 Mean Accuracy: 0.826958104968071

### Pregunta 3 
##### En base a los resultados obtenidos , se puede concluir que los modelos LSTM  y GRU tienen una presición promedio similar y el modelo SimpleRNN tiene una presción promedio menor.
##### La función de perdida del modelo LSTM es la minima